* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    outline: none;
}


.container-game {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: white;
    overflow: hidden;
    background-image: url("../media/images/green_felt.jpg");
    background-size: cover;
}

/* ------------------------------------------------------------*/
/* BANKROLL */
/* ------------------------------------------------------------*/

#element-bankroll {
    width: auto;
    height: 100px;

    position: absolute;

    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.3s ease;
    /*display: none; /* TEMPORARY HIDDEN */
}

#element-bankroll .coin {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-size: cover;
    background-color: white;
    border-radius: 50%;
}

#element-bankroll #coin-10 {
    background-image: url("../media/coins/coin-10.png");
}

#element-bankroll #coin-20 {
    background-image: url("../media/coins/coin-20.png");
}

#element-bankroll #coin-50 {
    background-image: url("../media/coins/coin-50.png");
}

#element-bankroll #coin-100 {
    background-image: url("../media/coins/coin-100.png");
}

#element-bankroll #coin-500 {
    background-image: url("../media/coins/coin-500.png");
}

#element-bankroll.visible {
    bottom: 0px;
}
/* ------------------------------------------------------------*/
/* TOTAL BANKROLL */
/* ------------------------------------------------------------*/

#element-total-bankroll {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: black;
    width: 200px;
    padding: 20px 0 20px 0;
    color: white;
    text-align: center;
    border-radius: 0 10px 3px 0;
    border-top: 2px solid white;
    border-right: 2px solid white;
}

/* ------------------------------------------------------------*/
/* POT */
/* ------------------------------------------------------------*/

#element-pot {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../media/coins/coin-pot.png");
    width: 120px;
    height: 120px;
    background-size: cover;
    text-align: center;
    padding: 50px 0px;
    border-radius: 50%;
    transition: 0.5s ease;
}

#element-pot.visible {
    top: 50%;
}

/* ------------------------------------------------------------*/
/* BUTTONS */
/* ------------------------------------------------------------*/

#deal-button,
#hit-button,
#stand-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    transition: all 0.5s ease;

    width: 200px;
    padding: 20px 0 20px 0;
    background-color: #D01F00;
    text-align: center;

}

#deal-button {
    right: -200px;
    border-radius: 10px 0 0 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#hit-button {
    right: -200px;
    border-radius: 10px 0 0 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#stand-button {
    left: -200px;
    border-radius: 0 10px 10px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#deal-button.visible {
    right: 0px;
}

#hit-button.visible {
    right: 0px;
}

#stand-button.visible {
    left: 0px;
}

/* ------------------------------------------------------------*/
/* PLAYER CARD DECK */
/* ------------------------------------------------------------*/

#element-player-card-deck {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.player-card img {
    height: 150px;
    width: auto;
    margin: 10px;
}

#element-player-card-deck.visible {
    bottom: 0px;
}

/* ------------------------------------------------------------*/
/* PLAYER TOTAL POINTS */
/* ------------------------------------------------------------*/

#element-player-total-points {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 250px;
    display: none;
    font-size: 45px;
}

#element-player-total-points.visible {
    display: block;
}

/* ------------------------------------------------------------*/
/* BOT TOTAL POINTS */
/* ------------------------------------------------------------*/

#element-bot-total-points {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    font-size: 45px;
    display: none;
    font-size: 45px;
}

#element-bot-total-points.visible {
    display: block;
}

/* ------------------------------------------------------------*/
/* BOT CARD DECK */
/* ------------------------------------------------------------*/

#element-bot-card-deck {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
}

.bot-card img {
    height: 150px;
    width: auto;
    margin: 10px;
}

#element-bot-card-deck.visible {
    top: 0px;
}

/* ------------------------------------------------------------*/
/* MESSAGE */
/* ------------------------------------------------------------*/


#message {
    position: absolute;
    top: 50%;
    right: -450px;
    transform: translate(50%, -50%);
    width: 300px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#message.visible {
    animation: slideIn 3s ease
}

@keyframes slideIn {
    0% { right: -450px; }
    50% { right: 50% }
    100% { right: calc(100vw + 300px);}
}


/* ------------------------------------------------------------*/
/* MENU */
/* ------------------------------------------------------------*/


#menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 600px;
    padding: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu #start-game-button {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6.5px;
    margin-top: 20px;
    font-size: 25px;
    transition: 0.3s;
}

#menu #start-game-button:hover {
    transform: scale(1.05);
}

#menu.hidden {
    animation: slideDown 0.6s ease;
    top: calc(100vh + 300px);
}

@keyframes slideDown {
    0% { top: 50%  }
    100% { top: calc(100vh + 300px);}
}